 <!-- <button id="rzp-button1">Pay</button> -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_QhRrANl9i6CQTl", // Enter the Key ID generated from the Dashboard
    
    
    
    "amount": "1000000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Gaurav Shelke", //your business name
    "description": "Test Transaction",
    "image": "",
    // "order_id": new Date().getTime(), //This is a sample Order ID. Pass the id obtained in the response of Step 1
    "callback_url": "http://localhost:1000/payment_success/<%=order_id%>",
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        "name": "Gaurav shelke", //your customer's name
        "email": "gauravdattatrayshelke@gmail.com",
        "contact": "9021424145" //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "chichondi patil"
    },
    "theme": {
        "color": "#ffffff"
    }
};
var rzp1 = new Razorpay(options);
// document.getElementById('rzp-button1').onclick = function(e)
{
    rzp1.open();
    e.preventDefault();
}
</script>